  <div class="row">
   <div class="col-md-6 col-xl-4 mb-4">
      <div class="card shadow border-left-primary py-2 teamMenu" (click)="showPlayers()">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col mr-2">
              <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Zawodnicy</span></div>
              <div class="text-dark font-weight-bold h5 mb-0"><span>40</span></div>
            </div>
            <div class="col-auto"><i class="fa fa-user fa-2x text-gray-300"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4 mb-4">
      <div class="card shadow border-left-success py-2 teamMenu" (click)="showMatches()">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col mr-2">
              <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Mecze</span></div>
              <div class="text-dark font-weight-bold h5 mb-0"><span>42</span></div>
            </div>
            <div class="col-auto"><i class="fa fa-calendar fa-2x text-gray-300"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4 mb-4">
      <div class="card shadow border-left-warning py-2 teamMenu" (click)="showStatistics()">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col mr-3">
              <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Statystyki</span></div>
              <div class="text-dark font-weight-bold h5 mb-0"><span>42</span></div>

            </div>
            <div class="col-auto"><i class="fa fa-comments fa-2x text-gray-300"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
