
<div class="mat-elevation-z8">
  <div class="action-button-row">
  <button mat-fab color="primary" (click)="openDialog(player)">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab color="primary" (click)="uploadFile()">
    <mat-icon >cloud_download</mat-icon>
  </button>
  </div>
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let player"> {{player.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let player"> {{player.lastName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let player"> {{player.firstName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
      <td mat-cell *matCellDef="let player"> {{player.dateOfBirth |date:'dd.MM.yyyy'}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openDialog(row)" style="cursor: pointer"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>
